<form [formGroup]="formularioCliente" class="form-validation p-4 border rounded shadow-sm bg-light" novalidate>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="nombre" class="form-label fw-bold">Nombre</label>
      <input
        type="text"
        class="form-control border-secondary"
        id="nombre"
        formControlName="nombre"
        required
        placeholder="Ingresa tu nombre"
      />
      <div class="text-danger small mt-1">Por favor, ingresa un nombre válido.</div>
    </div>
    <div class="col-md-6">
      <label for="apellido" class="form-label fw-bold">Apellido</label>
      <input
        type="text"
        class="form-control border-secondary"
        id="apellido"
        formControlName="apellido"
        required
        placeholder="Ingresa tu apellido"
      />
      <div class="text-danger small mt-1">Por favor, ingresa un apellido válido.</div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="correoElectronico" class="form-label fw-bold">Correo electrónico</label>
      <input
        type="email"
        class="form-control border-secondary"
        id="correoElectronico"
        formControlName="correoElectronico"
        required
        placeholder="Ingresa tu correo"
      />
      <div class="text-danger small mt-1">Por favor, ingresa un correo electrónico válido.</div>
    </div>
    <div class="col-md-6">
      <label for="telefono" class="form-label fw-bold">Teléfono</label>
      <input
        type="text"
        class="form-control border-secondary"
        id="telefono"
        formControlName="telefono"
        required
        placeholder="Ingresa tu teléfono"
      />
      <div class="text-danger small mt-1">Por favor, ingresa un teléfono válido.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-success px-4 py-2 mt-2" (click)="guardarCliente()">
    Guardar
  </button>
</form>
