<form [formGroup]="formularioProducto" class="needs-validation" novalidate>
  <div class="row mb-4">
    <div class="col-md-6">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control border-secondary"
        id="nombre"
        formControlName="nombre"
        required
      />
      <div class="invalid-feedback">Por favor, ingresa un nombre válido.</div>
    </div>
    <div class="col-md-6">
      <label for="descripcion" class="form-label">Descripción</label>
      <input
        type="text"
        class="form-control border-secondary"
        id="descripcion"
        formControlName="descripcion"
        required
      />
      <div class="invalid-feedback">Por favor, ingresa una descripción válida.</div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <label for="precio" class="form-label">Precio</label>
      <input
        type="number"
        class="form-control border-secondary"
        id="precio"
        formControlName="precio"
        required
      />
      <div class="invalid-feedback">Por favor, ingresa un precio válido.</div>
    </div>
    <div class="col-md-6">
      <label for="cantidadDisponible" class="form-label">Cantidad disponible</label>
      <input
        type="number"
        class="form-control border-secondary"
        id="cantidadDisponible"
        formControlName="cantidadDisponible"
        required
      />
      <div class="invalid-feedback">Por favor, ingresa una cantidad disponible válida.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-success w-100" (click)="guardarProducto()">Guardar</button>
</form>
